(
    bumper: (
        radius: 150,
        multiplier: 1.5,
    ),
    grabber: (
        radius: 300,
        entry_margin: 10,
        max_speed: 2000,
        tangential_speed: 800,
    ),
    slingshot: (
        orbit_radius: 200.0,
        orbit_duration: 5.0,
        orbit_cooldown: 5.0,
    ),
)
