ProjectilesConfig({
    Bullet: (
        stats: (
            mass: 20,
            damage: 1000.0,
            radius: 0.0,
            knockback: 40,
        ),
        skin: (
            sprite: "projectiles/bullet.png",
            scale: 3.0,
        ),
    ),
})
