(
    central_star_radius: 300,

    min_clusters: 10,
    max_clusters: 15,

    min_cluster_planet_radius: 150,
    max_cluster_planet_radius: 350,

    cluster_relaxation: 5,

    min_planet_surface_distance: 200,

    edge_radius: 2600,
    edge_margin: 800,

    min_satellites: 5,
    max_satellites: 10,

    satellite_min_distance: 200.0,
    satellite_max_distance: 2000.0,

    satellite_planet_min_distance: 250.0,
    satellite_satellite_min_distance: 350.0,
)
