(
    central_star_radius: 400,

    min_planets: 10,
    max_planets: 12,

    min_planet_radius: 80,
    max_planet_radius: 400,

    min_planet_surface_distance: 200,

    edge_radius: 3000,
    edge_margin: 1000,

    min_satellites: 5,
    max_satellites: 10,

    satellite_min_distance: 200.0,
    satellite_max_distance: 2000.0,

    satellite_planet_min_distance: 250.0,
    satellite_satellite_min_distance: 350.0,
)
