(
    planets: [
        (
            position: (0.0, 0.0),
            radius: 400,
            type: Star,
            seed: 4905613331635897707,
        ),
        (
            position: (-445.1016, 906.49225),
            radius: 100,
            type: Planet,
            seed: 6176133478315304193,
        ),
        (
            position: (-240.97267, 897.1993),
            radius: 100,
            type: Planet,
            seed: 18219788012940024269,
        ),
        (
            position: (-333.0469, 1029.715),
            radius: 69,
            type: Planet,
            seed: 15159796579056362446,
        ),
        (
            position: (-327.69144, 1170.2228),
            radius: 69,
            type: Planet,
            seed: 16027381845290119266,
        ),
        (
            position: (-318.1758, 1311.3986),
            radius: 69,
            type: Planet,
            seed: 17238274621184689012,
        ),
        (
            position: (-315.6328, 1425.7618),
            radius: 80,
            type: Planet,
            seed: 2640259109250909386,
        ),
    ],
)